<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ChapterMapper">
	<resultMap type="com.spring.mapper.entities.Chapter"
		id="chapterResult">
		<id column="MACHUONG" property="chapterId" />
		<result column="TIEUDE" property="chapterName" />
		<result column="MOTA" property="describe" />
		<result column="MAMON" property="subjectId" />
		<collection column="MACHUONG"
			select="com.spring.mapper.QuestionMapper.getQuestionByChapterId"
			property="questions" />
	</resultMap>

	<select id="getAllRecord" resultMap="chapterResult"
		resultType="java.util.List">
		select k.* from CHUONG_MUC k
	</select>

	<select id="getChapterBySubjectId" resultMap="chapterResult"
		resultType="java.util.List">
		select * from CHUONG_MUC where
		MAMON = #{subjectId}
	</select>
</mapper>