<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CreateQuestionMapper">
	<resultMap type="com.spring.mapper.entities.CreateQuestion"
		id="createQuestionResult">
		<id column="MACV" property="jobId" />
		<result column="MACHUONG" property="chapterId" />
		<result column="SL" property="amount" />
	</resultMap>

	<select id="getAllRecord" resultMap="createQuestionResult"
		resultType="java.util.List">
		select k.* from CT_TAO_CAU_HOI k
	</select>


</mapper>