<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.StructureTestMapper">
	<resultMap type="com.spring.mapper.entities.StructureTest"
		id="structureTestResult">
		<id column="MACTDT" property="structureTestId" />
		<result column="MAMON" property="subjectId" />
		<result column="NGAYCAPNHAT" property="updateTime" />
		<result column="MAGV" property="teacherManagementId" />
		<result column="TRANGTHAI" property="status" />
		<result column="SLDETOIDA" property="maxStructure" />
	</resultMap>

	<select id="getAllRecord" resultMap="structureTestResult"
		resultType="java.util.List">
		select c.* from CAU_TRUC_DE_THI c
	</select>

	<select id="getStructureTestBySubjectId"
		resultMap="structureTestResult" resultType="java.lang.Object"
		parameterType="long">
		select  * from  CAU_TRUC_DE_THI where MAMON = #{subjectId}
		
		</select>
</mapper>