<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.SubjectManageMapper">
	<resultMap type="com.spring.mapper.entities.SubjectManage"
		id="subjectManageResult">
		<id column="MAGV" property="teacherId" />
		<id column="MAMON" property="subjectId" />


	</resultMap>

	<select id="getAllRecord" resultMap="subjectManageResult"
		resultType="java.util.List">
		select k.* from QUAN_LY_MH k
	</select>


</mapper>