<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="./mybatis_mapping/AnswerMapper.xml" />
		<mapper resource="./mybatis_mapping/ChapterMapper.xml" />
		<mapper resource="./mybatis_mapping/CreateQuestionMapper.xml" />
		<mapper resource="./mybatis_mapping/DepartmentMapper.xml" />
		<mapper resource="./mybatis_mapping/ExamTestDetailMapper.xml" />
		<mapper resource="./mybatis_mapping/ExamTestMapper.xml" />
		<mapper resource="./mybatis_mapping/FacultyMapper.xml" />
		<mapper resource="./mybatis_mapping/JobMapper.xml" />
		<mapper resource="./mybatis_mapping/JobTypeMapper.xml" />
		<mapper resource="./mybatis_mapping/LevelMapper.xml" />
		<mapper resource="./mybatis_mapping/QuestionMapper.xml" />
		<mapper resource="./mybatis_mapping/StrucTestDetailMapper.xml" />
		<mapper resource="./mybatis_mapping/StructureTestMapper.xml" />
		<mapper resource="./mybatis_mapping/SubjectMapper.xml" />
		<mapper resource="./mybatis_mapping/TeacherMapper.xml" />
		<!-- get role user -->
		<mapper resource="./mybatis_mapping/UserRoleMapper.xml" />
	</mappers>
</configuration>