<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.DepartmentMapper">
	<resultMap type="com.spring.mapper.entities.Department"
		id="departmentResult">
		<id column="MABOMON" property="departmentId" />
		<result column="TENBOMON" property="departmentName" />
		<result column="MAKHOA" property="facultyId" />
		<result column="MAGV" property="teacherManagementId" />
		<collection column="MABOMON"
			select="com.spring.mapper.TeacherMapper.getTeacherByDepartmentId"
			property="teachers" />
		<collection column="MABOMON"
			select="com.spring.mapper.SubjectMapper.getSubjectByDepartmentId"
			property="subjects" />
	</resultMap>

	<select id="getAllRecord" resultMap="departmentResult"
		resultType="java.util.List">
		Select b.* from BO_MON b
	</select>
	<select id="getDepartmentsByFacultyId"
		resultMap="departmentResult" resultType="java.util.List">
		select * from BO_MON where
		MAKHOA = #{facultyId};
	</select>


</mapper>