USE [master]
GO
/****** Object:  Database [HTTTQL]    Script Date: 4/22/2018 12:41:23 ******/
CREATE DATABASE [HTTTQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTTTQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HTTTQL.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HTTTQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HTTTQL_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTTTQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTTTQL]
GO
/****** Object:  UserDefinedFunction [dbo].[F_GETLISTROLE]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- thang
CREATE FUNCTION  [dbo].[F_GETLISTROLE]  ( @MAGV INT)  RETURNS  @RES  TABLE
(
	ROLE_NAME INT NOT NULL,
	DESCRIBE NVARCHAR(100) NOT NULL
)
AS 
BEGIN
	 IF EXISTS(  SELECT * FROM QUAN_LY_MH WHERE MAGV=@MAGV)
		INSERT INTO @RES(ROLE_NAME,DESCRIBE) VALUES(3,N'Giáo Viên')
	 IF EXISTS( SELECT * FROM  BO_MON WHERE  MAGV =@MAGV)
		INSERT INTO  @RES(ROLE_NAME,DESCRIBE)  VALUES(2,N'Trưởng Bộ Môn');
	 IF EXISTS(SELECT * FROM KHOA WHERE MAGV=@MAGV)
		INSERT INTO @RES(ROLE_NAME,DESCRIBE) VALUES(1,N'Trưởng Khoa');
	 RETURN;
END






GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_CHECK_TIENDOCONGVIEC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION  [dbo].[FUNC_CHECK_TIENDOCONGVIEC] (@macv int)  RETURNS bit
as
begin
	declare @maloaivc int, @mamon  int,@mactdt  int ;
	set @maloaivc = (select MALOAICV from CONG_VIEC where MACV= @macv);
	set @mamon =(select MAMON from CONG_VIEC where macv=@macv);/*má sao chuối quá v bây*/
	set @mactdt =(select MACTDT from CAU_TRUC_DE_THI where MAMON=@mamon);
	if @maloaivc=1/*tạo đề cương*/
	begin
		RETURN (SELECT TRANGTHAI FROM MON_HOC WHERE MAMON=@mamon);
	end
	else if @maloaivc=3 /*tạo cấu trúc đề thi*/
	begin
		RETURN (select TRANGTHAI FROM CAU_TRUC_DE_THI where MACTDT=@mactdt);
	end
	return 0;
end




GO
/****** Object:  UserDefinedFunction [dbo].[RoleOfUser]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION  [dbo].[RoleOfUser]  ( @email nvarchar(50))  RETURNS  @RES  TABLE
(
	ROLE_NAME varchar(5) NOT NULL
)
AS 
BEGIN
  declare @magv int  ;
  select @magv = (select magv from GIANG_VIEN where EMAIL=@email);
	 IF EXISTS(  SELECT * FROM QUAN_LY_MH WHERE MAGV=@MAGV)
		INSERT INTO @RES(ROLE_NAME) VALUES('GV')
	 IF EXISTS( SELECT * FROM  BO_MON WHERE  MAGV =@MAGV)
		INSERT INTO  @RES(ROLE_NAME)  VALUES('TBM');
	 IF EXISTS(SELECT * FROM KHOA WHERE MAGV=@MAGV)
		INSERT INTO @RES(ROLE_NAME) VALUES('TK');
	 RETURN;
END
GO
/****** Object:  Table [dbo].[BO_MON]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BO_MON](
	[MABOMON] [int] IDENTITY(1,1) NOT NULL,
	[TENBOMON] [nvarchar](50) NULL,
	[MAKHOA] [int] NULL,
	[MAGV] [int] NULL,
 CONSTRAINT [PK_BO_MON] PRIMARY KEY CLUSTERED 
(
	[MABOMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAU_HOI]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_HOI](
	[MACH] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[MACHUONG] [int] NULL,
	[MAMON] [int] NULL,
	[MADOKHO] [int] NULL,
	[MAGV] [int] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_CAU_HOI] PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAU_TRUC_DE_THI]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAU_TRUC_DE_THI](
	[MACTDT] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[MAGV] [int] NULL,
	[TRANGTHAI] [bit] NULL,
	[SLDETOIDA] [smallint] NULL,
 CONSTRAINT [PK_CAU_TRUC_DE_THI] PRIMARY KEY CLUSTERED 
(
	[MACTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[chat]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chat](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NOT NULL,
	[room_id] [nvarchar](max) NOT NULL,
	[COUNT_MSG] [int] NULL CONSTRAINT [DF_chat_COUNT_MSG]  DEFAULT ((0)),
	[LAST_USER] [varchar](max) NULL,
 CONSTRAINT [PK_chat] PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[chatdetails]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chatdetails](
	[details_chat_id] [int] IDENTITY(1,1) NOT NULL,
	[body] [ntext] NULL,
	[time_on] [datetime] NULL,
	[chat_id] [int] NULL,
	[url] [nvarchar](255) NULL,
	[client_id] [nvarchar](255) NULL,
 CONSTRAINT [PK_chatdetails] PRIMARY KEY CLUSTERED 
(
	[details_chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_CTDT]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_CTDT](
	[MACTDT] [int] NOT NULL,
	[MACHUONG] [int] NOT NULL,
	[MADOKHO] [int] NOT NULL,
	[SLCAUHOI] [smallint] NULL,
	[TONGDIEM] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_CTDT] PRIMARY KEY CLUSTERED 
(
	[MACTDT] ASC,
	[MACHUONG] ASC,
	[MADOKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_DE_THI]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DE_THI](
	[MADETHI] [int] NOT NULL,
	[MACH] [int] NOT NULL,
	[VITRIDAPANDUNG] [smallint] NULL,
	[DIEM] [float] NULL,
 CONSTRAINT [PK_CHI_TIET_DE_THI] PRIMARY KEY CLUSTERED 
(
	[MADETHI] ASC,
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUONG_MUC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONG_MUC](
	[MACHUONG] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](50) NULL,
	[MOTA] [nvarchar](100) NULL,
	[MAMON] [int] NULL,
 CONSTRAINT [PK_CHUONG_MUC] PRIMARY KEY CLUSTERED 
(
	[MACHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONG_VIEC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG_VIEC](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NULL,
	[MAGV] [int] NULL,
	[MALOAICV] [int] NULL,
	[TGBATDAU] [datetime] NULL,
	[TGKETTHUC] [datetime] NULL,
	[NOIDUNGCV] [ntext] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_TAO_CAU_HOI]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TAO_CAU_HOI](
	[MACV] [int] NOT NULL,
	[MACHUONG] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CT_TAO_CAU_HOI] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC,
	[MACHUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAP_AN]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAP_AN](
	[MACH] [int] NOT NULL,
	[MADAPAN] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[DAPANDUNG] [bit] NULL,
 CONSTRAINT [PK_DAP_AN] PRIMARY KEY CLUSTERED 
(
	[MADAPAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DE_THI]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_THI](
	[MADETHI] [int] IDENTITY(1,1) NOT NULL,
	[MAMON] [int] NULL,
	[NGAYTHEM] [datetime] NULL,
	[NGAYTHI] [date] NULL,
	[THOIGIANLAMBAI] [nvarchar](20) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_DE_THI] PRIMARY KEY CLUSTERED 
(
	[MADETHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DO_KHO]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DO_KHO](
	[MADOKHO] [int] IDENTITY(1,1) NOT NULL,
	[TENDOKHO] [nvarchar](50) NULL,
 CONSTRAINT [PK_DO_KHO] PRIMARY KEY CLUSTERED 
(
	[MADOKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANG_VIEN]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANG_VIEN](
	[MAGV] [int] IDENTITY(1,1) NOT NULL,
	[HOGV] [nvarchar](50) NULL,
	[TENGV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATKHAU] [varchar](100) NULL,
	[ANHGV] [varchar](300) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[DIENTHOAI] [varchar](12) NULL,
	[GIOITINH] [bit] NULL,
	[MABOMON] [int] NULL,
	[TRANGTHAI] [bit] NULL CONSTRAINT [DF_GIANG_VIEN_TRANGTHAI]  DEFAULT ((1)),
 CONSTRAINT [PK_GIANG_VIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [int] IDENTITY(1,1) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[MAGV] [int] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_CONG_VIEC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_CONG_VIEC](
	[MALOAICV] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICV] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAI_CONG_VIEC] PRIMARY KEY CLUSTERED 
(
	[MALOAICV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MAMON] [int] IDENTITY(1,1) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[MABOMON] [int] NULL,
	[MAGV] [int] NULL,
	[TRANGTHAI] [bit] NOT NULL CONSTRAINT [DF_MON_HOC_TRANGTHAI]  DEFAULT ((0)),
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUAN_LY_MH]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_LY_MH](
	[MAGV] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
 CONSTRAINT [PK_QUAN_LY_MH] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BO_MON] ON 

GO
INSERT [dbo].[BO_MON] ([MABOMON], [TENBOMON], [MAKHOA], [MAGV]) VALUES (1, N'Hệ thống thông tin', 1, 2)
GO
INSERT [dbo].[BO_MON] ([MABOMON], [TENBOMON], [MAKHOA], [MAGV]) VALUES (2, N'Mạng máy tính', 1, 3)
GO
INSERT [dbo].[BO_MON] ([MABOMON], [TENBOMON], [MAKHOA], [MAGV]) VALUES (3, N'Khoa học máy tính', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[BO_MON] OFF
GO
SET IDENTITY_INSERT [dbo].[CAU_HOI] ON 

GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (1, N'Quyền và nghĩa vụ của ', 1, 2, 1, 2, 1)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (2, N'Khi công dân vi phạm pháp luật với tính chất và mức độ vi phạm như nhau, trong một hoàn cảnh như nhau thì đều phải chịu trách nhiệm pháp lí', 1, 2, 2, 2, 1)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (3, N'Quyền và nghĩa vụ của công dân không bị phân biệt bởi', 2, 2, 2, 2, 1)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (12, N' Trong Tuyên ngôn ĐCS của C.Mác và Ph.Ăngghen viết: “Pháp luật của các ông chỉ là ý
chí của giai cấp các ông được đề lên thành luật, cái ý chí mà nội dung là do các điều kiện sinh
hoạt vật chất của giai cấp các ông quyết định”. Đại từ nhân xưng “các ông” trong câu nói trên muốn chỉ ai?:
', 1, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (13, N' Lịch sử xã hội loài người đã và đang trải qua mấy kiểu pháp luật:
', 1, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (14, N' Đạo luật nào dưới đây quy định một cách cơ bản về chế độ chính trị, chế độ kinh tế, văn
hóa, xã hội và tổ chức bộ máy nhà nước. ', 1, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (18, N'Khẳng định nào là đúng:
', 1, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (20, N'Trong một nhà nước:
', 1, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (24, N'Việc tòa án thường đưa các vụ án đi xét xử lưu động thể hiện chủ yếu chức năng nào
của pháp luật: ', 1, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (26, N'Khẳng định nào là đúng:
', 2, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (27, N' Cơ quan thực hiện chức năng thực hành quyền công tố và kiểm sát các hoạt động tư
pháp:', 2, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (32, N' Nguyên tắc pháp chế trong tổ chức và hoạt động của bộ máy nhà nước xuất hiện từ khi
nào:
', 2, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (33, N'Theo quy định tại Khoản 1, Điều 271, Bộ luật hình sự Việt Nam 1999, nếu tội phạm có
khung hình phạt từ 15 năm trở xuống thì thuộc thẩm quyền xét xử của:
', 2, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (34, N'Theo quy định tại Khoản 1, Điều 271, Bộ luật hình sự Việt Nam 1999, nếu tội phạm có
khung hình phạt từ 15 năm trở xuống thì thuộc thẩm quyền xét xử của:
', 2, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (45, N'Trong cuộc khai thác thuộc địa lần thứ hai, thực dân Pháp đầu t vốn 
nhiều nhất vào các ngành nào?
', 7, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (52, N'Vì sao trong quá trình khai thác thuộc địa lần thứ hai, t bản Pháp hạn 
chế phát triển công nghiệp nặng ở Việt Nam?
', 7, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (53, N'Bản án đã có hiệu lực pháp luật được viện kiểm sát, tòa án có thẩm quyền kháng nghị
theo thủ tục tái thẩm khi:
', 3, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (54, N'Nguyên tắc “không áp dụng hiệu lực hồi tố” của VBPL được hiểu là:
', 3, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (55, N'Thành tựu nào quan trọng nhất mà Liên Xô đạt đợc sau Chiến tranh 
thế giới thứ hai?
', 7, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (56, N'Trong các loại VBPL, văn bản chủ đạo:
', 3, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (57, N'Trong các loại VBPL, văn bản chủ đạo:
', 3, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (58, N'Đâu không phải là ngành luật trong HTPL Việt Nam:
', 3, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (62, N'Các giai cấp nào mới ra đời do hậu quả của cuộc khai thác thuộc địa 
lần thứ hai của Pháp ở Việt Nam?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (66, N' Chế định “Cơ quan tiến hành tố tụng, người tiến hành tố tụng và việc thay đổi người
tiến hành tố tụng” thuộc ngành luật nào: ', 4, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (69, N'Sau chiến tranh thế giới lần thứ nhất, ở Việt Nam ngoài thực dân 
Pháp, còn có giai cấp nào trở thành đối tượng của cách mạng Việt 
Nam?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (72, N'Dưới ách thống trị của thực dân Pháp, thái độ chính trị của giai cấp t 
sản dân tộc Việt Nam như thế nào?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (74, N'Văn bản nào có hiệu lực cao nhất trong trong số các loại văn bản sau của HTPL Việt
Nam:', 4, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (75, N'Lực lượng nào hăng hái và đông đảo nhất của cách mạng Việt Nam sau 
chiến tranh thế giới thứ nhất?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (76, N'Bộ máy quản lý hành chính của Nhà nước CHXHCN Việt Nam hiện nay có bao nhiêu
bộ:', 4, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (77, N'Bộ máy quản lý hành chính của Nhà nước CHXHCN Việt Nam hiện nay có bao nhiêu
bộ:', 4, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (78, N'Khẳng định nào là đúng:
', 4, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (79, N'Quá trình xây dựng chủ nghĩa xã hội ở Liên Xô (từ 1950 đến nửa đầu 
những năm 70 của thế kỉ XX), số liệu nào sau đây có ý nghĩa nhất?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (80, N'Điều 57 Hiến pháp Việt Nam 1992 quy định: “Công dân Việt Nam có quyền kinh
doanh theo quy định của pháp luật”, nghĩa là:', 4, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (82, N'Những tổ chức chính trị như: Việt Nam Nghĩa đoàn, Hội Phục Việt, 
Hội Hưng Nam, Đảng Thanh Niên là tiền thân của tổ chức nào?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (83, N'Các thuộc tính của pháp luật là:
', 5, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (85, N'Những tờ báo tiến bộ của tầng lớp tiểu tư sản trí thức xuất bản trong 
phong trào yêu nước dân chủ công khai (1919-1926) là:
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (86, N'Hiệu lực về không gian của VBQPPL Việt Nam được hiểu là:
', 5, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (88, N'Tính xác định chặt chẽ về mặt hình thức là thuộc tính (đặc trưng) của:
', 5, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (89, N'Trần Dân Tiên viết: “việc đó tuy nhỏ nhng nó báo hiệu bắt đầu thời 
đại đấu tranh dân tộc nh chim én nhỏ báo hiệu mùa xuân”. Sự kiện 
nào sau đây phản ánh điều đó?
', 7, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (91, N'Trong những nguyên nhân sau đây, nguyên nhân nào là nguyên nhân 
chủ quan làm cho phong trào yêu nớc dân chủ công khai (1919-1926) 
cuối cùng bị thất bại?
', 8, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (96, N'Chủ thể của QHPL là:
', 5, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (99, N'TCXH nào sau đây không được Nhà nước trao quyền ban hành một số VBPL:
', 5, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (102, N'Xét về độ tuổi, người có NLHV dân sự đầy đủ:
', 5, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (103, N'Sự kiện nào thể hiện: “T tởng cách mạng tháng Mời Nga đã thấm sâu 
hơn vào giai cấp công nhân và bắt đầu biến thành hành động của giai 
cấp công nhân Việt Nam”.
', 8, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (106, N'Sự kiện nào đánh dấu Nguyễn ái Quốc bớc đầu tìm thấy con đờng cứu 
nước đúng đắn
', 8, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (107, N'Người bị mất NLHV dân sự là người do bị bệnh tâm thần hoặc mắc bệnh khác:
', 6, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (112, N'Thủ tướng chính phủ có quyền ban hành những loại VBPL nào:
', 6, 2, 1, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (116, N'Vào thời gian nào, Nguyễn ái Quốc rời Pari đi Liên Xô, đất nước mà từ 
lâu Người mơ ước đặt chân tới
', 8, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (118, N' Văn bản nào có hiệu lực cao nhất trong các văn bản sau của hệ thống VBQPPL Việt
Nam: ', 6, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (120, N'Sự kiện ngày 17/6/1924 gắn với hoạt động nào của Nguyễn ái Quốc ở 
Liên Xô, đó là
', 8, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (123, N'Tác dụng trong quá trình hoạt động của Nguyễn ái Quốc từ năm 1919 
đến 1925 là gì?
', 8, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (125, N'Chế định “Hình phạt” thuộc ngành luật nào:
', 6, 2, 2, 11, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (126, N'Lý do chủ yếu nào chứng minh sự thắng lợi của cách mạng dân chủ 
nhân dân của các nước Đông Âu có ý nghĩa quốc tế:
', 8, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (128, N'Ba tư tưởng sau đây được trình bày trong tác phẩm nào của Nguyễn ái  Quốc Cách mạng là sự nghiệp của quần chúng; cách mạng phải do Đảng theo chủ nghĩa Mác – Lênin lãnh đạo; cách mạng Việt Nam phải gắn bó và đoàn kết với cách mạng thế 
giới
', 8, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (153, N'Quá trình phân hóa của Hội Việt Nam cách mạng thanh niên đã dẫn 
đến sự thành lập các tổ chức cộng sản nào trong năm 1929?
', 9, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (157, N'Báo “Búa liềm” là cơ quan ngôn luận của tổ chức cộng sản nào đợc 
thành lập năm 1929 ở Việt Nam?
', 9, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (159, N'Nước nào ở Đông Âu được mệnh danh là “Đất nước của triệu ngời khất 
thực” trong những năm đầu sau Chiến tranh thế giới thứ 2
', 9, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (169, N'Tại Hội nghị hợp nhất ba tổ chức cộng sản, không có sự tham gia của 
các tổ chức cộng sản nào?
', 9, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (171, N'Chỗ dựa chủ yếu của công cuộc xây dựng chủ nghĩa xã hội ở các nước 
Đông âu
', 9, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (172, N'Con đờng cách mạng Việt Nam đợc xác định trong Cơng lĩnh chính 
trị đầu tiên do đồng chí Nguyễn ái Quốc khởi thảo, đó là: 
', 10, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (175, N'Lực lượng cách mạng để đánh đổ đế quốc và phong kiến được nêu trong 
Cương lĩnh chính trị đầu tiên của Đảng do đồng chí Nguyễn ái Quốc khởi thảo là lực lượng nào?
', 10, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (177, N'Điểm giống nhau giữa Cơng lĩnh chính trị đầu tiên của Đảng do đồng 
chí Nguyễn ái Quốc khởi thảo và Luận cơng chính trị do đồng chí Trần Phú soạn thảo.
', 10, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (178, N'Sách giáo khoa lịch sử lớp 12, trang 25, có viết: “Nhiệm vụ của cách 
mạng tư sản dân quyền ở nước ta là đánh đổ bọn đế quốc Pháp; bọn 
phong kiến và giai cấp tư sản phản cách mạng, làm cho nước Việt Nam 
được độc lập ...”. Đây là một trong những nội dung của văn kiện nào?
', 10, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (179, N'Nguyên nhân chính của sự ra đời liên minh phong thủ Vác-sa-va (14-
5-1955)
', 10, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (182, N'Hai khẩu hiệu mà Đảng ta đã vận dụng trong phong trào cách mạng 
1930-1931 là khẩu hiệu nào?
', 10, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (192, N'Chỉ ra và phân tích ngắn gọn ý nghĩa của trường hợp không tuân thủ phương châm hội thoại trong đoạn văn bản sau:
Vẫn vững lòng, bà dặn cháu đinh ninh: 
“Bố ở chiến khu, bố còn việc bố
Mày có viết thư chớ kể này kể nọ, 
Cứ bảo nhà vẫn được bình yên!”
(Bằng Việt, Bếp lửa, SGK Ngữ văn 9, tập 1,
NXB Giáo dục, 2011, tr 144)', 1, 2, 1, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (195, N'Tìm và phân tích tác dụng của phép tu từ được sử dụng trong câu thơ sau:

Gác kinh viện sách đôi nơi
Trong gang tấc bỗng cách mười quan san.

(Nguyễn Du, Truyện Kiều, SGK Ngữ văn 9, tập 1,
NXB Giáo dục, 2011, tr 147)', 1, 2, 2, 12, 0)
GO
INSERT [dbo].[CAU_HOI] ([MACH], [NOIDUNG], [MACHUONG], [MAMON], [MADOKHO], [MAGV], [TRANGTHAI]) VALUES (196, N'“Một trong những sứ mệnh của người nghệ sĩ là phát hiện cho được cái âm thanh kì diệu của cuộc sống vốn rất đỗi bình thường”.
Ý kiến trên giúp gì cho anh/chị khi lắng nghe những vang âm từ “Lặng lẽ Sa Pa” của Nguyễn Thành Long (SGK Ngữ văn 9, tập 1, NXB Giáo dục, 2011), từ đó rút ra thiên chức của người nghệ sĩ trong sáng tác văn chương.', 1, 2, 2, 12, 0)
GO
SET IDENTITY_INSERT [dbo].[CAU_HOI] OFF
GO
SET IDENTITY_INSERT [dbo].[CAU_TRUC_DE_THI] ON 

GO
INSERT [dbo].[CAU_TRUC_DE_THI] ([MACTDT], [MAMON], [NGAYCAPNHAT], [MAGV], [TRANGTHAI], [SLDETOIDA]) VALUES (1, 1, CAST(N'2017-06-18 18:28:43.120' AS DateTime), NULL, 1, 20)
GO
INSERT [dbo].[CAU_TRUC_DE_THI] ([MACTDT], [MAMON], [NGAYCAPNHAT], [MAGV], [TRANGTHAI], [SLDETOIDA]) VALUES (2, 2, CAST(N'2017-06-18 18:28:43.120' AS DateTime), 11, 1, 1)
GO
INSERT [dbo].[CAU_TRUC_DE_THI] ([MACTDT], [MAMON], [NGAYCAPNHAT], [MAGV], [TRANGTHAI], [SLDETOIDA]) VALUES (3, 3, CAST(N'2017-06-18 18:28:43.120' AS DateTime), NULL, 1, 20)
GO
SET IDENTITY_INSERT [dbo].[CAU_TRUC_DE_THI] OFF
GO
SET IDENTITY_INSERT [dbo].[chat] ON 

GO
INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (5, N'2', N'7', 0, N'7')
GO
INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (6, N'2', N'2', 0, N'2')
GO
INSERT [dbo].[chat] ([chat_id], [code], [room_id], [COUNT_MSG], [LAST_USER]) VALUES (7, N'2', N'11', 0, N'2')
GO
SET IDENTITY_INSERT [dbo].[chat] OFF
GO
SET IDENTITY_INSERT [dbo].[chatdetails] ON 

GO
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (23, N'Công việc chưa đươc duyệt  <a style=''color :red ;''  href=''/congviec/congviecduocphancong''> Xem lại </a>', CAST(N'2017-06-08 18:58:34.020' AS DateTime), 5, N'', N'7')
GO
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (24, N'Công việc chưa đươc duyệt  <a style=''color :red ;''  href=''/congviec/congviecduocphancong''> Xem lại </a>', CAST(N'2017-06-08 18:59:51.283' AS DateTime), 5, N'', N'7')
GO
INSERT [dbo].[chatdetails] ([details_chat_id], [body], [time_on], [chat_id], [url], [client_id]) VALUES (25, N'Công việc chưa đươc duyệt  <a style=''color :red ;''  href=''/congviec/congviecduocphancong''> Xem lại </a>', CAST(N'2017-06-08 19:00:54.197' AS DateTime), 5, N'', N'7')
GO
SET IDENTITY_INSERT [dbo].[chatdetails] OFF
GO
INSERT [dbo].[CHI_TIET_CTDT] ([MACTDT], [MACHUONG], [MADOKHO], [SLCAUHOI], [TONGDIEM]) VALUES (2, 1, 2, 5, 2.5)
GO
INSERT [dbo].[CHI_TIET_CTDT] ([MACTDT], [MACHUONG], [MADOKHO], [SLCAUHOI], [TONGDIEM]) VALUES (2, 2, 1, 10, 5)
GO
INSERT [dbo].[CHI_TIET_CTDT] ([MACTDT], [MACHUONG], [MADOKHO], [SLCAUHOI], [TONGDIEM]) VALUES (2, 10, 2, 10, 3)
GO
INSERT [dbo].[CHI_TIET_DE_THI] ([MADETHI], [MACH], [VITRIDAPANDUNG], [DIEM]) VALUES (4, 18, NULL, 0.5)
GO
INSERT [dbo].[CHI_TIET_DE_THI] ([MADETHI], [MACH], [VITRIDAPANDUNG], [DIEM]) VALUES (4, 19, NULL, 0.5)
GO
INSERT [dbo].[CHI_TIET_DE_THI] ([MADETHI], [MACH], [VITRIDAPANDUNG], [DIEM]) VALUES (4, 21, NULL, 0.5)
GO
SET IDENTITY_INSERT [dbo].[CHUONG_MUC] ON 

GO
INSERT [dbo].[CHUONG_MUC] ([MACHUONG], [TIEUDE], [MOTA], [MAMON]) VALUES (1, N'Chapter 1', N'INFORMATION SYSTEMS IN BUSINESS TODAY', 2)
GO
INSERT [dbo].[CHUONG_MUC] ([MACHUONG], [TIEUDE], [MOTA], [MAMON]) VALUES (2, N'Chapter 2', N'GLOBAL E-BUSINESS AND COLLABORATION', 2)
GO
INSERT [dbo].[CHUONG_MUC] ([MACHUONG], [TIEUDE], [MOTA], [MAMON]) VALUES (3, N'Chapter 3', N'INFORMATION SYSTEMS, ORGANIZATIONS, AND STRATEGY ', 2)
GO
SET IDENTITY_INSERT [dbo].[CHUONG_MUC] OFF
GO
SET IDENTITY_INSERT [dbo].[CONG_VIEC] ON 

GO
INSERT [dbo].[CONG_VIEC] ([MACV], [MAMON], [MAGV], [MALOAICV], [TGBATDAU], [TGKETTHUC], [NOIDUNGCV], [TRANGTHAI]) VALUES (1, 2, 2, 2, CAST(N'2016-01-01 00:00:00.000' AS DateTime), CAST(N'2016-02-02 00:00:00.000' AS DateTime), N'Thêm các chương vào môn học này nhé! =))', 1)
GO
INSERT [dbo].[CONG_VIEC] ([MACV], [MAMON], [MAGV], [MALOAICV], [TGBATDAU], [TGKETTHUC], [NOIDUNGCV], [TRANGTHAI]) VALUES (2, 2, 11, 2, CAST(N'2017-06-18 00:00:00.000' AS DateTime), CAST(N'2017-06-22 00:00:00.000' AS DateTime), N'Lam nhanh em nhe', 0)
GO
INSERT [dbo].[CONG_VIEC] ([MACV], [MAMON], [MAGV], [MALOAICV], [TGBATDAU], [TGKETTHUC], [NOIDUNGCV], [TRANGTHAI]) VALUES (3, 2, 12, 2, CAST(N'2017-06-18 00:00:00.000' AS DateTime), CAST(N'2017-06-22 00:00:00.000' AS DateTime), N'Lam nhanh em nhe', 0)
GO
SET IDENTITY_INSERT [dbo].[CONG_VIEC] OFF
GO
INSERT [dbo].[CT_TAO_CAU_HOI] ([MACV], [MACHUONG], [SL]) VALUES (1, 1, 2)
GO
INSERT [dbo].[CT_TAO_CAU_HOI] ([MACV], [MACHUONG], [SL]) VALUES (1, 2, 4)
GO
INSERT [dbo].[CT_TAO_CAU_HOI] ([MACV], [MACHUONG], [SL]) VALUES (1, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[DAP_AN] ON 

GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (1, 1, N'Hiến pháp', 0)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (1, 2, N'Hiến pháp và luật', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (1, 3, N'Luật hiến pháp', 0)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (190, 754, N'*Khái niệm: 
 - Quyền tự do ngôn luận: CD có quyền tự do phát biểu ý kiến, bày tỏ quan điểm của mình về các vấn đề chính trị, kinh tế, văn hóa, XH của đất nước.
*Ý nghĩa: 
- Đảm bảo quyền tự do, dân chủ, có quyền lực thực sự của công dân.
- Là điều kiện để công dân tham gia quản lí NN và XH', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (191, 755, N'-B1:Người tố cáo gửi đơn tố cáo.
-B2:Người giải quyết tố cáo phải tiến hành xác minh và quyết định về nội dung tố cáo.
-B3:Người tố cáo cho rằng giải quyết tố cáo không đúng thì có quyền tố cáo với cơ quan, tố cáo cấp trên.
-B4:Cơ quan, tổ chức, cá nhân giải quyết lần hai có trách nhiệm giải quyết trong thời hạn quy định.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (192, 756, N'– Lời nói của bà không tuân thủ phương châm về chất trong hội thoại (nói không đúng, không chính xác sự thật tình cảnh gia đình)
– Ý nghĩa: Bà cố tình dặn cháu như vậy vì muốn con yên tâm công tác. Qua đó, ta càng hiểu thêm tấm lòng, đức hi sinh thầm lặng mà lớn lao của những người bà, người mẹ hậu phương đối với tiền tuyến lớn.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (193, 757, N'Nội dung pháp luật về dân số thể hiện:
- Tiếp tục giảm tốc độ gia tăng dân số. 
- Ổn định quy mô, cơ cấu và phân bố dân số hợp lí.
- Nâng cao chất lượng dân số.
- Xây dựng gia đình bền vững hạnh phúc.
- Thực hiện tốt Luật HN&GĐ; Pháp lệnh dân số thực hiện KHHGĐ. ', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (194, 758, N'Nguyên tắc hoạt động của quốc phòng, an ninh ở nước ta:
- Huy động sức mạnh toàn dân bảo vệ quốc phòng an ninh. 
- Kết hợp giữa phát triển kinh tế xã hội với tăng cường quốc phòng, an ninh. 
- Phối hợp có hiệu quả hoạt động an ninh quốc phòng với đối ngoại. 
- Chủ động phòng ngừa âm mưu xâm phạm an ninh quốc gia. 
- Xây dựng thế trận quốc phòng toàn dân với thế trận an ninh nhân dân. ', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (195, 759, N'Xác định và nêu tác dụng của biện pháp tu từ.
– Biện pháp nói quá
– Hoạn Thư bắt Kiều chép kinh ở Quan Âm các gần phòng đọc sách của Thúc Sinh. Tuy ở gần nhau trong gang tấc nhưng hai người lại trở nên xa cách gấp mười quan san. Nguyễn Du khắc họa đậm nét sự xa cách cũng như cảnh ngộ, thân phận giữa Kiều và Thúc Sinh.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (196, 760, N'– Câu này kiểm tra năng lực viết bài nghị luận xã hội của thí sinh; đòi hỏi thí sinh phải huy động những hiểu biết về đời sống xã hội, kĩ năng tạo lập văn bản và khả năng bày tỏ thái độ, chủ kiến của mình để làm bài.
– Thí sinh có thể làm bài theo nhiều cách khác nhau nhưng phải có lí lẽ và căn cứ xác đáng, được tự do bày tỏ quan điểm riêng của mình, nhưng phải có thái độ chân thành nghiêm túc, phù hợp với chuẩn mực đạo đức xã hội.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (199, 763, N'- Giữ nguyên được tính trạng con người mong muốn. 
- Thời gian cho thu hoạch sản phẩm ngắn vì cây từ cành giâm và cành chiết sớm ra hoa, kết quả: chỉ 2-5 năm tuỳ loài cây, tuỳ tuổi sinh lý của cành.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (202, 766, N'Sự hình thành giao tử ở thực vật: giao tử được hình thành từ thể giao tử, thể giao tử lại được sinh ra từ bào tử đơn bội qua giảm phân.
Thụ tinh kép là hiện tượng cả 2 nhân tham gia thụ tinh, một hoà nhập với trứng, nhân thứ hai hợp nhất với nhân lưỡng bội (2n) tạo nên tế bào nhân tam bội (3n). Thụ tinh kép chỉ có ở thực vật Hạt kín (thực vật có hoa).', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (203, 767, N'Trong sinh sản hữu tính luôn có quá trình hình thành và hợp nhất của các tế bào sinh dục (các giao tử), luôn có sự trao đổi, tái tổ hợp của hai bộ gen.
Sinh sản hữu tính luôn gắn liền với giảm phân để tạo giao tử.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (229, 793, N'Khi nhiệt độ môi trường quá cao có thể phá hủy cấu trúc không gian 3 chiều của prôtêin làm cho chúng mất chức năng (hiện tượng biến tính của prôtêin).
Một số vi sinh vật sống được ở trong suối nước nóng có nhiệt độ xấp xỉ 1000 độ C mà prôtêin của chúng lại không bị hỏng do prôtêin của các loại sinh vật này có cấu trúc đặc biệt nên không bị biến tính khi ở nhiệt độ cao.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (233, 797, N'Cấu tạo nên tế bào và cơ thể. Chúng đóng vai trò cốt lõi trong cấu trúc của nhân, của mọi bào quan, đặc biệt là hệ màng sinh học có tính chọn lọc cao. Ví dụ: côlagen tham gia cấu tạo nên các mô liên kết, histon tham gia cấu trúc nhiễm sắc thể....
Vận chuyển các chất. Một số prôtêin có vai trò như những "xe tải" vận chuyển các chất trong cơ thể. Ví dụ: hêmôglôbin...
Bảo vệ cơ thể. Ví dụ: các kháng thể (có bản chất là prôtêin) có chức năng bảo vệ cơ thể chống lại các tác nhân gây bệnh...', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (234, 798, N'Cấu trúc bậc một: Các axit amin nối với nhau bởi liên kết peptit hình thành nên chuỗi pôlipeptit. Cấu trúc bậc một của prôtêin thực chất là trình tự sắp xếp đặc thù của các loại axit amin trên chuỗi pôlipeptit. Cấu trúc bậc một thể hiện tính đa dạng và đặc thù của prôtêin qua số lượng, thành phần và trình tự sắp xếp của các axit amin.
Cấu trúc bậc hai: Chuỗi pôlipeptit co xoắn α hoặc gấp nếp β tạo nên nhờ các liên kết hiđrô giữa các axit amin trong chuỗi với nhau tạo nên cấu trúc bậc 2.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (235, 799, N'Liên kết peptit hình thành giữa 2 axit amin. Các axit amin nối với nhau bởi liên kết peptit hình thành nên chuỗi pôlipeptit tạo nên cấu trúc bậc 1 của prôtêin.
Liên kết hiđrô. Cấu trúc bậc 2 của prôtêin được giữ vững nhờ liên kết hiđrô giữa các axit amin ở gần nhau.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (236, 800, N'Collagen và elastin tạo nên cấu trúc sợi rất bền của mô liên kết, dây chằng, gân. Kêratin tạo nên cấu trúc của da, lông, móng.
Hoocmôn insulin và glucagon do tế bào đảo tụy thuộc tuyến tụy tiết ra có tác dụng điều hòa hàm lượng đường glucô trong máu.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (239, 803, N'- Pha tiềm phát:
 SLTB chưa tăng
 Enzym cảm ứng được hình thành để phân giải cơ chất
 Vi khuẩn thích ứng với môi trường
- Pha lũy thừa:
 Quá trình trao đổi chất diễn ra mạnh mẽ
 SLTB tăng theo cấp số nhân
 Tốc độ sinh trưởng đạt cực đại', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (240, 804, N'Dựa vào hình thái chia thành 3 loại:
Cấu trúc xoắn: virut khảm thuốc lá.
Cấu trúc khối: virut Adeno
Cấu trúc hỗn hợp: phago T2
* Không thể nuôi cấy virut trên môi trường nhân tạo như ở vi khuẩn vì virut sống kí sinh nội bào bắt buộc.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (241, 805, N'. Giai đoạn hấp phụ;
- Gai glicoprotein của virut phải đặc hiệu với thụ thể bề mặt của tế bào chủ thì VR mới bám vào được.
b. Giai đoạn xâm nhập:
- Đối với phago: enzim lizozim phá hủy thành tế bào để bơm axit nucleic vào tế bào chất,còn vỏ nằm bên ngoài.', 1)
GO
INSERT [dbo].[DAP_AN] ([MACH], [MADAPAN], [NOIDUNG], [DAPANDUNG]) VALUES (242, 806, N'- Có lối sống lành mạnh, quan hệ tình dục an toàn, vệ sinh y tế, loại trừ các tệ nạn xã hội….
- Không phân biệt đối xử với bệnh nhân HIV, cần chăm sóc, động viên để họ vượt qua mặt cảm, không bi quan chán nản…', 1)
GO
SET IDENTITY_INSERT [dbo].[DAP_AN] OFF
GO
SET IDENTITY_INSERT [dbo].[DE_THI] ON 

GO
INSERT [dbo].[DE_THI] ([MADETHI], [MAMON], [NGAYTHEM], [NGAYTHI], [THOIGIANLAMBAI], [TRANGTHAI]) VALUES (4, 2, CAST(N'2017-06-19 02:54:49.303' AS DateTime), NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[DE_THI] OFF
GO
SET IDENTITY_INSERT [dbo].[DO_KHO] ON 

GO
INSERT [dbo].[DO_KHO] ([MADOKHO], [TENDOKHO]) VALUES (1, N'Khó')
GO
INSERT [dbo].[DO_KHO] ([MADOKHO], [TENDOKHO]) VALUES (2, N'Dễ')
GO
INSERT [dbo].[DO_KHO] ([MADOKHO], [TENDOKHO]) VALUES (3, N'Trung bình')
GO
SET IDENTITY_INSERT [dbo].[DO_KHO] OFF
GO
SET IDENTITY_INSERT [dbo].[GIANG_VIEN] ON 

GO
INSERT [dbo].[GIANG_VIEN] ([MAGV], [HOGV], [TENGV], [NGAYSINH], [EMAIL], [MATKHAU], [ANHGV], [DIACHI], [DIENTHOAI], [GIOITINH], [MABOMON], [TRANGTHAI]) VALUES (1, N'Phan', N'đình long', CAST(N'1995-09-04' AS Date), N'dinhlong@gmail.com', N'$2a$12$SZ3S0TZAlP0WZMBkVTXwAe1v96azURNSLXNeW0SXfpQLsms5k3Xcm', N'/UploadedFiles/default_avatar.jpg', N'TP HCM', N'0981773084', 0, 1, 1)
GO
INSERT [dbo].[GIANG_VIEN] ([MAGV], [HOGV], [TENGV], [NGAYSINH], [EMAIL], [MATKHAU], [ANHGV], [DIACHI], [DIENTHOAI], [GIOITINH], [MABOMON], [TRANGTHAI]) VALUES (2, N'Trần Lê Như', N'Quỳnh', CAST(N'2017-05-18' AS Date), N'quynhnhu@gmail.com', N'$2a$12$SZ3S0TZAlP0WZMBkVTXwAe1v96azURNSLXNeW0SXfpQLsms5k3Xcm', N'/UploadedFiles/84128613146052335341496749743784.jpg', N'10.8713204,106.7906752', N'0981773084', 0, 1, 1)
GO
INSERT [dbo].[GIANG_VIEN] ([MAGV], [HOGV], [TENGV], [NGAYSINH], [EMAIL], [MATKHAU], [ANHGV], [DIACHI], [DIENTHOAI], [GIOITINH], [MABOMON], [TRANGTHAI]) VALUES (3, N'Pham Van', N'Tinh', CAST(N'1980-05-05' AS Date), N'phamvantinh@gmail.com', N'$2a$12$SZ3S0TZAlP0WZMBkVTXwAe1v96azURNSLXNeW0SXfpQLsms5k3Xcm', N'/UploadedFiles/78246940447241230301496928694457.jpg', N'10.8713257,106.7904928', N'01203947318', 0, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[GIANG_VIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[KHOA] ON 

GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [MAGV]) VALUES (1, N'Khoa Công Nghệ Thông Tin', 3)
GO
SET IDENTITY_INSERT [dbo].[KHOA] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_CONG_VIEC] ON 

GO
INSERT [dbo].[LOAI_CONG_VIEC] ([MALOAICV], [TENLOAICV]) VALUES (1, N'Tạo đề cương')
GO
INSERT [dbo].[LOAI_CONG_VIEC] ([MALOAICV], [TENLOAICV]) VALUES (2, N'Tạo câu hỏi')
GO
INSERT [dbo].[LOAI_CONG_VIEC] ([MALOAICV], [TENLOAICV]) VALUES (3, N'Tạo cấu trúc đề thi')
GO
SET IDENTITY_INSERT [dbo].[LOAI_CONG_VIEC] OFF
GO
SET IDENTITY_INSERT [dbo].[MON_HOC] ON 

GO
INSERT [dbo].[MON_HOC] ([MAMON], [TENMON], [MABOMON], [MAGV], [TRANGTHAI]) VALUES (1, N'Mạng máy tính cơ bản', 2, 3, 0)
GO
INSERT [dbo].[MON_HOC] ([MAMON], [TENMON], [MABOMON], [MAGV], [TRANGTHAI]) VALUES (2, N'Hệ thống thông tin quản lý', 1, 2, 0)
GO
INSERT [dbo].[MON_HOC] ([MAMON], [TENMON], [MABOMON], [MAGV], [TRANGTHAI]) VALUES (3, N'Mạng máy tính nâng cao', 2, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[MON_HOC] OFF
GO
INSERT [dbo].[QUAN_LY_MH] ([MAGV], [MAMON]) VALUES (1, 7)
GO
INSERT [dbo].[QUAN_LY_MH] ([MAGV], [MAMON]) VALUES (1, 8)
GO
INSERT [dbo].[QUAN_LY_MH] ([MAGV], [MAMON]) VALUES (2, 1)
GO
/****** Object:  Index [IX_CAU_TRUC_DE_THI]    Script Date: 4/22/2018 12:41:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CAU_TRUC_DE_THI] ON [dbo].[CAU_TRUC_DE_THI]
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_GIANG_VIEN]    Script Date: 4/22/2018 12:41:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GIANG_VIEN] ON [dbo].[GIANG_VIEN]
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BO_MON]  WITH CHECK ADD  CONSTRAINT [FK_BO_MON_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BO_MON] CHECK CONSTRAINT [FK_BO_MON_KHOA]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_CHUONG_MUC] FOREIGN KEY([MACHUONG])
REFERENCES [dbo].[CHUONG_MUC] ([MACHUONG])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_CHUONG_MUC]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_DO_KHO] FOREIGN KEY([MADOKHO])
REFERENCES [dbo].[DO_KHO] ([MADOKHO])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_DO_KHO]
GO
ALTER TABLE [dbo].[CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_HOI_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[CAU_HOI] CHECK CONSTRAINT [FK_CAU_HOI_MON_HOC]
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_TRUC_DE_THI_GIANG_VIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANG_VIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI] CHECK CONSTRAINT [FK_CAU_TRUC_DE_THI_GIANG_VIEN]
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CAU_TRUC_DE_THI_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[CAU_TRUC_DE_THI] CHECK CONSTRAINT [FK_CAU_TRUC_DE_THI_MON_HOC]
GO
ALTER TABLE [dbo].[chatdetails]  WITH CHECK ADD  CONSTRAINT [FK_chatdetails_chat] FOREIGN KEY([chat_id])
REFERENCES [dbo].[chat] ([chat_id])
GO
ALTER TABLE [dbo].[chatdetails] CHECK CONSTRAINT [FK_chatdetails_chat]
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CTDT_CAU_TRUC_DE_THI] FOREIGN KEY([MACTDT])
REFERENCES [dbo].[CAU_TRUC_DE_THI] ([MACTDT])
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT] CHECK CONSTRAINT [FK_CHI_TIET_CTDT_CAU_TRUC_DE_THI]
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_CTDT_CHUONG_MUC] FOREIGN KEY([MACHUONG])
REFERENCES [dbo].[CHUONG_MUC] ([MACHUONG])
GO
ALTER TABLE [dbo].[CHI_TIET_CTDT] CHECK CONSTRAINT [FK_CHI_TIET_CTDT_CHUONG_MUC]
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DE_THI_CAU_HOI] FOREIGN KEY([MACH])
REFERENCES [dbo].[CAU_HOI] ([MACH])
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI] CHECK CONSTRAINT [FK_CHI_TIET_DE_THI_CAU_HOI]
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DE_THI_DE_THI] FOREIGN KEY([MADETHI])
REFERENCES [dbo].[DE_THI] ([MADETHI])
GO
ALTER TABLE [dbo].[CHI_TIET_DE_THI] CHECK CONSTRAINT [FK_CHI_TIET_DE_THI_DE_THI]
GO
ALTER TABLE [dbo].[CHUONG_MUC]  WITH CHECK ADD  CONSTRAINT [FK_CHUONG_MUC_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[CHUONG_MUC] CHECK CONSTRAINT [FK_CHUONG_MUC_MON_HOC]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIEC_GIANG_VIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANG_VIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIEC_GIANG_VIEN]
GO
ALTER TABLE [dbo].[CONG_VIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONG_VIEC_LOAI_CONG_VIEC] FOREIGN KEY([MALOAICV])
REFERENCES [dbo].[LOAI_CONG_VIEC] ([MALOAICV])
GO
ALTER TABLE [dbo].[CONG_VIEC] CHECK CONSTRAINT [FK_CONG_VIEC_LOAI_CONG_VIEC]
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CT_TAO_CAU_HOI_CHUONG_MUC] FOREIGN KEY([MACHUONG])
REFERENCES [dbo].[CHUONG_MUC] ([MACHUONG])
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI] CHECK CONSTRAINT [FK_CT_TAO_CAU_HOI_CHUONG_MUC]
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI]  WITH CHECK ADD  CONSTRAINT [FK_CT_TAO_CAU_HOI_CONG_VIEC] FOREIGN KEY([MACV])
REFERENCES [dbo].[CONG_VIEC] ([MACV])
GO
ALTER TABLE [dbo].[CT_TAO_CAU_HOI] CHECK CONSTRAINT [FK_CT_TAO_CAU_HOI_CONG_VIEC]
GO
ALTER TABLE [dbo].[DAP_AN]  WITH CHECK ADD  CONSTRAINT [FK_DAP_AN_CAU_HOI] FOREIGN KEY([MACH])
REFERENCES [dbo].[CAU_HOI] ([MACH])
GO
ALTER TABLE [dbo].[DAP_AN] CHECK CONSTRAINT [FK_DAP_AN_CAU_HOI]
GO
ALTER TABLE [dbo].[DE_THI]  WITH CHECK ADD  CONSTRAINT [FK_DE_THI_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[DE_THI] CHECK CONSTRAINT [FK_DE_THI_MON_HOC]
GO
ALTER TABLE [dbo].[GIANG_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANG_VIEN_BO_MON1] FOREIGN KEY([MABOMON])
REFERENCES [dbo].[BO_MON] ([MABOMON])
GO
ALTER TABLE [dbo].[GIANG_VIEN] CHECK CONSTRAINT [FK_GIANG_VIEN_BO_MON1]
GO
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [FK_MON_HOC_BO_MON] FOREIGN KEY([MABOMON])
REFERENCES [dbo].[BO_MON] ([MABOMON])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [FK_MON_HOC_BO_MON]
GO
ALTER TABLE [dbo].[QUAN_LY_MH]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_LY_MH_GIANG_VIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANG_VIEN] ([MAGV])
GO
ALTER TABLE [dbo].[QUAN_LY_MH] CHECK CONSTRAINT [FK_QUAN_LY_MH_GIANG_VIEN]
GO
ALTER TABLE [dbo].[QUAN_LY_MH]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_LY_MH_MON_HOC] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON_HOC] ([MAMON])
GO
ALTER TABLE [dbo].[QUAN_LY_MH] CHECK CONSTRAINT [FK_QUAN_LY_MH_MON_HOC]
GO
/****** Object:  StoredProcedure [dbo].[addDeThi]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addDeThi] @MAMON INT, @MACHUONG INT, @SL INT, @MADOKHO INT
 AS
 BEGIN
	declare @sqlcommand nvarchar(95)
	set @sqlcommand = 'select top '+CAST(@SL as nvarchar(2))+' * from cau_hoi where mamon='+cast(@MAMON as varchar(10))+' and machuong='+cast(@MACHUONG as varchar(10))+'and madokho='+cast(@MADOKHO as varchar(10))+' order by NEWID()'
	EXECUTE sp_executesql @sqlcommand
 END






GO
/****** Object:  StoredProcedure [dbo].[box_msg]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[box_msg] 
@code nvarchar(max) ,
@room_id   nvarchar(max) ,
@top int  =null 
AS
SET NOCOUNT ON;
IF @top is null 
 set @top = 5 
 IF EXISTS (SELECT *  FROM chat c WHERE c.LAST_USER LIKE  @code )
 BEGIN
   UPDATE chat set  COUNT_MSG = 0 WHERE (code = @code  AND room_id = @room_id AND LAST_USER = @code )OR (code = @room_id AND room_id = @code AND LAST_USER = @code)
 END
SELECT  top (@top)  d.body , d.time_on  , d.url  , d.client_id FROM chat c  JOIN chatdetails d ON c.chat_id = d.chat_id  
    where c.code = @code and c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code ORDER BY d.time_on DESC





GO
/****** Object:  StoredProcedure [dbo].[danhsachgiangvien]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[danhsachgiangvien] 
@magv int  
AS
DECLARE @makhoa int = ( SELECT k.MAKHOA FROM GIANG_VIEN GV JOIN BO_MON BM ON GV.MABOMON = BM.MABOMON  JOIN KHOA K  ON K.MAKHOA = BM.MAKHOA  WHERE GV.MAGV = @magv )
IF @makhoa is nulL
 RAISERROR('Mã Khoa không tồn tại',16,1)
 ELSE
 SELECT  GV.MAGV , GV.HOGV , GV.TENGV , GV.ANHGV , GV.GIOITINH , GV.EMAIL  FROM KHOA K JOIN BO_MON BM on k.MAKHOA  = BM.MAKHOA JOIN GIANG_VIEN GV on BM.MABOMON = GV.MABOMON  WHERE K.MAKHOA = @makhoa 




GO
/****** Object:  StoredProcedure [dbo].[kiemtratinnhan]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE proc  [dbo].[kiemtratinnhan] 
	@code  nvarchar(max) 
	AS 
	SELECT  * from  chat c where c.COUNT_MSG > 0 AND c.LAST_USER  like @code    	






GO
/****** Object:  StoredProcedure [dbo].[p_them_cauhoi_congviec2]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_them_cauhoi_congviec2] @maCV int,@chuong int ,@soluong int
as
begin
INSERT INTO CT_TAO_CAU_HOI(MACV,MACHUONG,SL) VALUES (@maCV,@chuong,@soluong)
end







GO
/****** Object:  StoredProcedure [dbo].[p_themCongViec_CAUHOI_CONG_VIEC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_themCongViec_CAUHOI_CONG_VIEC] @MAMON int,@MAGV int ,@MALOAICV int,@TGBATDAU datetime,
@TGKETTHUC datetime,@NOIDUNGCV ntext
AS 

BEGIN

SET NOCOUNT ON
BEGIN TRY
DECLARE @result int;

INSERT INTO CONG_VIEC(MAMON,MAGV,MALOAICV,TGBABTDAU,TGKETTHUC,NOIDUNGCV,TRANGTHAI)
	VALUES(@MAMON,@MAGV,@MALOAICV,@TGBATDAU,@TGKETTHUC,@NOIDUNGCV,0);
	--INSERT INTO CT_TAO_CAU_HOI VALUES (IDENT_CURRENT('CONG_VIEC'),@MACHUONG,@SOLUONGCAUHOITOIDA);
		SET @result =IDENT_CURRENT('CONG_VIEC');
		SELECT @result as result;
END TRY

BEGIN CATCH
	RAISERROR('CẬP NHẬT THẤT BẠI',16,1);
END CATCH



END







GO
/****** Object:  StoredProcedure [dbo].[p_themCongViec_CONG_VIEC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[p_themCongViec_CONG_VIEC] @MAMON int,@MAGV int ,@MALOAICV int,@TGBATDAU datetime,
@TGKETTHUC datetime,@NOIDUNGCV ntext
AS 
BEGIN
	BEGIN TRY	
	INSERT INTO CONG_VIEC(MAMON,MAGV,MALOAICV,TGBABTDAU,TGKETTHUC,NOIDUNGCV,TRANGTHAI)
	VALUES(@MAMON,@MAGV,@MALOAICV,@TGBATDAU,@TGKETTHUC,@NOIDUNGCV,0);
	UPDATE MON_HOC SET TRANGTHAI ='FALSE' WHERE MAMON=@MAMON;

	END TRY

	BEGIN CATCH
	RAISERROR (N'THÊM THẤT BẠI',16,1);
	END CATCH
END









GO
/****** Object:  StoredProcedure [dbo].[p_themCongViec2_CONG_VIEC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_themCongViec2_CONG_VIEC] @MAMON int,@MAGV int ,@MALOAICV int,@TGBATDAU datetime,
@TGKETTHUC datetime,@NOIDUNGCV ntext,@SOlUONGDETOIDA int
AS 
BEGIN
	BEGIN TRY
		
	INSERT INTO CONG_VIEC(MAMON,MAGV,MALOAICV,TGBABTDAU,TGKETTHUC,NOIDUNGCV,TRANGTHAI)
	VALUES(@MAMON,@MAGV,@MALOAICV,@TGBATDAU,@TGKETTHUC,@NOIDUNGCV,0);

	UPDATE CAU_TRUC_DE_THI SET TRANGTHAI =0,SLDETOIDA=@SOlUONGDETOIDA,MAGV=@MAGV WHERE	MAMON=@MAMON
	
	END TRY

	BEGIN CATCH
	
	RAISERROR (N'THÊM THẤT BẠI',16,1);
	END CATCH
END 


GO
/****** Object:  StoredProcedure [dbo].[proc_add_cauhoi]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_add_cauhoi] 
  @noidung ntext ,
  @machuong int ,
  @mamon int ,
  @madokho int ,
  @magv int ,
  @out  int  OUTPUT
  AS
   set @out  = 0 ;
  BEGIN 
  IF EXISTS (SELECT * FROM CHUONG_MUC CM WHERE CM.MACHUONG = @machuong AND CM.MAMON =@mamon )
       AND EXISTS (SELECT * FROM GIANG_VIEN GV  WHERE GV.MAGV = @magv)
	    AND EXISTS (SELECT * FROM DO_KHO DK WHERE DK.MADOKHO = @madokho)
		  BEGIN 
		  BEGIN TRANSACTION;  
		  INSERT INTO CAU_HOI VALUES(@noidung , @machuong , @mamon, @madokho , @magv ,0)
		  set @out =  SCOPE_IDENTITY()
		  COMMIT
		   END
	END   







GO
/****** Object:  StoredProcedure [dbo].[proc_add_dapan]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[proc_add_dapan] 
	@MACH INT ,
    @NOIDUNG ntext ,
	@DAPANDUNG BIT 
	AS 
	SET NOCOUNT ON
	DECLARE @res bit 
	BEGIN 
	 set @res =   0 
	  IF  EXISTS( SELECT * FROM CAU_HOI  DN WHERE  DN.MACH = @MACH )
	  BEGIN
	   INSERT INTO DAP_AN  VALUES(@MACH ,  @NOIDUNG , @DAPANDUNG )
	   set @res = 1 
	    END
	   ELSE 
	   PRINT N'MÃ CÂU HỎI KHÔNG TỒN TẠI'
	   SELECT @res
	  END








GO
/****** Object:  StoredProcedure [dbo].[proc_danhsachcongviec_cuabonom]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_danhsachcongviec_cuabonom] 
   @magvTruongBmon int  
   AS 
    SELECT CV.MACV  , MH.TENMON , GV.TENGV , GV.ANHGV , l.TENLOAICV  ,CV.TGBABTDAU ,CV.TGKETTHUC ,CV.TRANGTHAI ,CV.NOIDUNGCV ,MH.TRANGTHAI ,l.MALOAICV ,( SELECT CT.TRANGTHAI FROM CAU_TRUC_DE_THI CT where  CT.MAMON = CV.MAMON) AS TRANGTHAICTdt, CV.MAMON  FROM CONG_VIEC  CV JOIN GIANG_VIEN GV ON GV.MAGV = CV.MAGV JOIN MON_HOC MH on CV.MAMON = MH.MAMON  JOIN LOAI_CONG_VIEC L ON L.MALOAICV = CV.MALOAICV WHERE  CV.MAMON IN ( SELECT MH.MAMON  FROM   BO_MON B JOIN MON_HOC MH on B.MABOMON = MH.MABOMON  WHERE B.MABOMON in 
	(SELECT BM.MABOMON FROM BO_MON BM where  BM.MAGV = @magvTruongBmon )
	) 



GO
/****** Object:  StoredProcedure [dbo].[proc_danhsachcongviec_cuakhoa]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_danhsachcongviec_cuakhoa] 
   @magvTruongKhoa int  
   AS 
    SELECT CV.MACV  , MH.TENMON , GV.TENGV , GV.ANHGV , l.TENLOAICV  ,CV.TGBABTDAU ,CV.TGKETTHUC ,CV.TRANGTHAI ,CV.NOIDUNGCV , MH.TRANGTHAI ,l.MALOAICV
	,( SELECT CT.TRANGTHAI FROM CAU_TRUC_DE_THI CT where  CT.MAMON = CV.MAMON) AS TRANGTHAICTdt, CV.MAMON  FROM  CONG_VIEC  CV JOIN GIANG_VIEN GV ON GV.MAGV = CV.MAGV JOIN MON_HOC MH  on CV.MAMON = MH.MAMON JOIN LOAI_CONG_VIEC l ON CV.MALOAICV = l.MALOAICV  WHERE  CV.MAMON IN ( SELECT MH.MAMON  FROM KHOA  K JOIN  BO_MON B on k.MAKHOA = b.MAKHOA JOIN MON_HOC MH on B.MABOMON = MH.MABOMON  WHERE K.MAKHOA IN
	(SELECT k.MAKHOA FROM KHOA k where  k.MAGV = @magvTruongKhoa )
	) 



GO
/****** Object:  StoredProcedure [dbo].[proc_DsChuongByMAMH]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_DsChuongByMAMH] 
@MAMH  int 
AS
SELECT * FROM MON_HOC MH INNER JOIN CHUONG_MUC CH ON MH.MAMON = CH.MAMON  WHERE MH.MAMON = @MAMH







GO
/****** Object:  StoredProcedure [dbo].[proc_DSMonHocByMAGV]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_DSMonHocByMAGV] 
  @MAGV int  
  AS
  BEGIN
 SELECT MH.MAMON  ,MH.TENMON , MH.MABOMON  FROM GIANG_VIEN GV JOIN QUAN_LY_MH QL ON GV.MAGV = QL.MAGV JOIN MON_HOC MH ON MH.MAMON = QL.MAMON   WHERE GV.MAGV = @MAGV 
  END







GO
/****** Object:  StoredProcedure [dbo].[proc_login_GIANGVIEN_ResSmg]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[proc_login_GIANGVIEN_ResSmg] 
	 @email nvarchar(50) ,
	 @pass nvarchar(40) 
   AS
    BEGIN
	 DECLARE @res nvarchar(255) ; 
	  if EXISTS (SELECT * FROM GIANG_VIEN GV  where GV.EMAIL = @email )
	     BEGIN 
			  if EXISTS ( SELECT * FROM GIANG_VIEN GV where GV.email = @email AND  GV.MATKHAU  = @pass)
			   set @res = ( SELECT G.MAGV FROM GIANG_VIEN G where G.EMAIL = @email AND  G.MATKHAU = @pass) 
			   ELSE
			   set @res = N'Mật khẩu không đúng '
		END
		ELSE
		set @res = N' Tài khoản không tồn tại ' 
     SELECT @res 
	END







GO
/****** Object:  StoredProcedure [dbo].[proc_thongkecauhoi_bomon]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_thongkecauhoi_bomon] 
@makhoa INT ,
@mabomon INT = NULL
AS
begin 
select K.TENKHOA , BM.TENBOMON , MH.TENMON , sum(case WHEN DK.MADOKHO = 1 THEN 1 ELSE 0 END )  AS CAUKHO ,
                                           sum(case when DK.MADOKHO =2 then 1 else 0 end) AS CAUDE ,
										    COUNT(CH.MACH) AS  Tong
											 FROM  KHOA K JOIN BO_MON BM ON K.MAKHOA =  BM.MAKHOA 
											              JOIN MON_HOC MH ON BM.MABOMON = mh.MABOMON 
														  JOIN CAU_HOI CH ON MH.MAMON = CH.MAMON 
														  JOIN DO_KHO DK ON CH.MADOKHO = DK.MADOKHO WHERE CH.TRANGTHAI = 1
														  GROUP BY K.MAKHOA , K.TENKHOA ,BM.MABOMON ,BM.TENBOMON ,MH.MAMON , MH.TENMON
							                            HAVING @makhoa = K.MAKHOA AND (@mabomon is null or @mabomon=  BM.MABOMON )
							END





GO
/****** Object:  StoredProcedure [dbo].[PROCEDURE_INSERTORUPDATE_CAUTRUCDETHI]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[PROCEDURE_INSERTORUPDATE_CAUTRUCDETHI](@MACTDT INT, @MACHUONG INT, @MADOKHO INT, @SLCAUHOI SMALLINT, @TONGDIEM FLOAT) 
 AS
 BEGIN
 IF EXISTS (SELECT * FROM CHI_TIET_CTDT WHERE MACTDT= @MACTDT AND MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO)
	BEGIN
		 IF (SELECT COUNT(*) FROM CAU_HOI WHERE MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO )>= @SLCAUHOI
			BEGIN
				UPDATE CHI_TIET_CTDT SET SLCAUHOI=@SLCAUHOI, TONGDIEM=@TONGDIEM WHERE MACTDT=@MACTDT AND MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO;
			END
		 ELSE
			BEGIN
				RAISERROR(N'SỐ LƯỢNG QUÁ MỨC CHO PHÉP!',16,1);
			END
	END
 ELSE
	BEGIN
		IF (SELECT COUNT(*) FROM CAU_HOI WHERE MACHUONG=@MACHUONG AND MADOKHO=@MADOKHO )>= @SLCAUHOI
			BEGIN
				INSERT INTO CHI_TIET_CTDT VALUES(@MACTDT, @MACHUONG, @MADOKHO, @SLCAUHOI, @TONGDIEM);
			END
		 ELSE
			BEGIN
				RAISERROR(N'SỐ LƯỢNG QUÁ MỨC CHO PHÉP!',16,1);
			END
	END
 END	







GO
/****** Object:  StoredProcedure [dbo].[themnoidung]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[themnoidung]
 @code nvarchar(max) ,
 @room_id  nvarchar(max) ,
 @body ntext , 
 @url  nvarchar(255) 
 AS
 DECLARE @chat_id int  , @client nvarchar(255) , @date datetime = getdate() 
 IF NOT EXISTS (SELECT * FROM  chat c where c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code )
   BEGIN 
   begin tran 
     INSERT INTO chat(code , room_id , COUNT_MSG , LAST_USER) values (@code , @room_id , 1 ,@room_id ) 
	   set @chat_id  =  SCOPE_IDENTITY()  
	    commit tran
		end
    ELSE  
	BEGIN 
	DECLARE @count  int = (select c.COUNT_MSG from chat c where  c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code)
	UPDATE chat set COUNT_MSG = @count + 1  ,  LAST_USER = @room_id where  code = @code  AND room_id = @room_id OR code = @room_id AND room_id = @code
	set @chat_id  = ( SELECT c.chat_id FROM  chat c where c.code = @code  AND c.room_id = @room_id OR c.code = @room_id AND c.room_id = @code) 
	END 
	BEGIN 
	INSERT chatdetails values (@body , @date , @chat_id  ,  @url , @room_id)   
	end






GO
/****** Object:  Trigger [dbo].[INSERT_GV_INTO_QLMH]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create trigger [dbo].[INSERT_GV_INTO_QLMH] on [dbo].[MON_HOC] AFTER UPDATE
  as

BEGIN
 IF(UPDATE(MAGV))
 BEGIN
	 IF EXISTS (SELECT  * FROM inserted WHERE MAGV IS NOT NULL)
		IF NOT EXISTS (SELECT * FROM QUAN_LY_MH  JOIN inserted ON inserted.MAGV = QUAN_LY_MH.MAGV AND inserted.MAMON=QUAN_LY_MH.MAMON)
			INSERT INTO QUAN_LY_MH(MAGV,MAMON) SELECT MAGV,MAMON FROM INSERTED
 END

END





GO
/****** Object:  Trigger [dbo].[TRIGGER_INSERT_CAUTRUCDETHI_WHEN_CREATE_MONHOC]    Script Date: 4/22/2018 12:41:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRIGGER_INSERT_CAUTRUCDETHI_WHEN_CREATE_MONHOC] ON [dbo].[MON_HOC] AFTER INSERT
AS
BEGIN
	DECLARE @MAMON INT;
	SET @MAMON = (SELECT MAMON FROM inserted)
	INSERT INTO CAU_TRUC_DE_THI(MAMON,NGAYCAPNHAT,TRANGTHAI,SLDETOIDA) VALUES(@MAMON,GETDATE(),0,0);
END






GO
USE [master]
GO
